[data-theme="blue"] {
  --accent: 255 176 0; /* #FFB000 */
  --on-accent: 15 23 42;

  --color-primary: 100 143 255; /* Based on emerald-500 */
  --color-on-primary: 15 23 42; /* Based on zinc-900 */

  --color-secondary: 120 94 240; /* Based on sky-500 */
  --color-on-secondary: 248 250 252; /* Based on zinc-50 */

  --color-background-default: 30 41 59; /* Based on zinc-800 */
  --color-background-alt: 51 65 85; /* Based on zinc-700 */

  --color-text-default: 248 250 252; /* Based on zinc-50 */
  --color-text-muted: 148 163 184; /* Based on zinc-400 */

  --color-border-color: 71 85 105; /* Based on zinc-600 */

  color-scheme: dark;
}
