[data-theme="dark"] {
  --accent: 59 130 246;/* blue-500 */
  --on-accent: 255 255 255;

  --color-primary: 20 184 166; /* Based on emerald-500 */
  --color-on-primary: 255 255 255; /* White for contrast */

  --color-secondary: 14 165 233; /* Based on sky-500 */
  --color-on-secondary: 255 255 255; /* White for contrast */

  --color-background-default: 24 24 27; /* Based on zinc-900 */
  --color-background-alt: 39 39 42; /* Based on zinc-800 */

  --color-text-default: 250 250 250; /* Based on zinc-50 */
  --color-text-muted: 161 161 170; /* Based on zinc-400 */

  --color-border-color: 63 63 70; /* Based on zinc-700 */

  color-scheme: dark;
}
