:root,
[data-theme="dark"] {
  color-scheme: dark;

  --accent: 59 130 246;/* blue-500 */
  --on-accent: 255 255 255;

  --zinc-50: 250 250 250;
  --zinc-100: 244 244 245;
  --zinc-200: 228 228 231;
  --zinc-300: 212 212 216;
  --zinc-400: 161 161 170;
  --zinc-500: 113 113 122;
  --zinc-600: 82 82 91;
  --zinc-700: 63 63 70;
  --zinc-800: 39 39 42;
  --zinc-900: 24 24 27;
  --zinc-950: 9 9 11;

  --neutral-900: var(--zinc-900);
  --neutral-950: var(--zinc-950);

  /* modern teal */
  --emerald-100: 204 251 241;
  --emerald-200: 153 246 228;
  --emerald-300: 94 234 212;
  --emerald-400: 45 212 191;
  --emerald-500: 20 184 166;
  --emerald-800: 17 94 89;
  --emerald-900: 19 78 74;

  --sky-100: 224 242 254;
  --sky-500: 14 165 233;
  --sky-800: 7 89 133;
  --sky-900: 12 74 110;

  --amber-200: 253 230 138;
  --amber-300: 252 211 77;
  --amber-400: 251 191 36;
  --amber-500: 245 158 11;

  --red-200: 254 202 202;
  --red-300: 252 165 165;
  --red-400: 248 113 113;
  --red-500: 239 68 68;

  --yellow-400: 250 204 21;
  --lime-200: 217 249 157;
  --lime-400: 163 230 53;
  --orange-200: 254 215 170;
  --orange-400: 251 146 60;
}
