[data-theme="football"] {
  --accent: 34 197 94; /* green-500 */
  --on-accent: 5 46 22;

  --color-primary: 20 184 166; /* Based on emerald-500 */
  --color-on-primary: 248 250 249; /* Based on zinc-50 */

  --color-secondary: 56 189 248; /* Based on sky-500 */
  --color-on-secondary: 248 250 249; /* Based on zinc-50 */

  --color-background-default: 20 30 24; /* Based on zinc-900 */
  --color-background-alt: 31 46 37; /* Based on zinc-800 */

  --color-text-default: 248 250 249; /* Based on zinc-50 */
  --color-text-muted: 147 170 155; /* Based on zinc-400 */

  --color-border-color: 48 70 56; /* Based on zinc-700 */

  color-scheme: dark;
}
