[data-theme="light"] {
  --accent: 59 130 246; /* blue-500 */
  --on-accent: 255 255 255;

  --color-primary: 20 184 166; /* Based on emerald-500 */
  --color-on-primary: 12 10 9; /* Based on zinc-50 (dark) */

  --color-secondary: 14 165 233; /* Based on sky-500 */
  --color-on-secondary: 12 10 9; /* Based on zinc-50 (dark) */

  --color-background-default: 231 229 228; /* Based on zinc-900 (light) */
  --color-background-alt: 214 211 209; /* Based on zinc-800 (still light) */

  --color-text-default: 12 10 9; /* Based on zinc-50 (dark) */
  --color-text-muted: 68 64 60; /* Based on zinc-400 (darker zinc) */

  --color-border-color: 168 162 158; /* Based on zinc-700 (darker zinc) */

  color-scheme: light;
}
