@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: 99 102 241; /* indigo-500 */
}

.accent { color: rgb(var(--accent)); }
.accent-bg { background-color: rgb(var(--accent)); }

* { -webkit-tap-highlight-color: transparent; }
